**Your Task**

Download and import the Data Science Job Salary dataset.

Normalize the ‘salary’ column using Min-Max normalization which scales all salary values between 0 and 1.

Implement dimensionality reduction like Principal Component Analysis (PCA) or t-SNE to reduce the number of features (columns) in the dataset.

Group the dataset by the ‘experience_level’ column and calculate the average and median salary for each experience level (e.g., Junior, Mid-level, Senior).

**Hint :**

As a reminder, normalization is crucial when dealing with data that has different ranges. For example, salary data might have a wide range (e.g., from $20,000 to $200,000). By scaling the data using Min-Max normalization, you make sure that all salary values fall within a consistent range (0 to 1). This is particularly helpful when the data is going to be used in machine learning models, as some algorithms (like k-nearest neighbors or neural networks) perform better when features are normalized. It ensures that no single salary dominates the learning process, making the analysis more balanced.

Dimensionality reduction helps simplify complex datasets by reducing the number of variables under consideration. This can make the data more manageable and help avoid the curse of dimensionality—a phenomenon where machine learning models struggle when dealing with high-dimensional data.
PCA, for instance, helps in retaining the most important information (variance) from the dataset while reducing noise and redundancy.
It can also speed up the training process for models and help in visualizing data in fewer dimensions.

Aggregating data helps in understanding trends within subgroups of the dataset.
Calculating average and median salaries for each experience level gives insights into the compensation distribution and disparities across different job levels. This kind of aggregation can help in answering business questions like “How does salary evolve with experience?” or “What is the salary distribution for senior-level roles?”

Importing Libraries

In [10]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.decomposition import PCA

Loading the Dataset

In [1]:
from google.colab import files
files.upload()

Saving datascience_salaries.csv to datascience_salaries.csv

{'datascience_salaries.csv': b",job_title,job_type,experience_level,location,salary_currency,salary\r\n0,Data scientist,Full Time,Senior,New York City,USD,149000\r\n2,Data scientist,Full Time,Senior,Boston,USD,120000\r\n3,Data scientist,Full Time,Senior,London,USD,68000\r\n4,Data scientist,Full Time,Senior,Boston,USD,120000\r\n5,Data scientist,Full Time,Senior,New York City,USD,149000\r\n6,Data scientist,Full Time,Senior,London,USD,68000\r\n7,Data scientist,Full Time,Senior,Research Triangle Park,USD,69000\r\n8,Data scientist,Full Time,Senior,Sydney,USD,68000\r\n9,Data scientist,Full Time,Senior,San Francisco,USD,140000\r\n10,Data scientist,Full Time,Senior,Sofia,USD,68000\r\n12,Data scientist,Full Time,Entry,BangPa-in,USD,35000\r\n15,Data scientist,Full Time,Senior,Berlin,USD,68000\r\n17,Data scientist,Full Time,Senior,NAMER,USD,68000\r\n18,Data scientist,Full Time,Senior,Remote,USD,68000\r\n20,Data scientist,Full Time,Senior,San Jose,USD,68000\r\n22,Data scientist,Full Time,Senior,Petaling Jaya,USD,55000\r\n23,Data scientist,Full Time,Senior,Englewood,USD,68000\r\n24,Data scientist,Full Time,Senior,Pune,USD,68000\r\n25,Data scientist,Full Time,Senior,London,USD,68000\r\n26,Data scientist,Full Time,Mid,Remote,USD,40000\r\n27,Data scientist,Full Time,Entry,Paris,USD,36000\r\n28,Data scientist,Internship,Entry,Paris,USD,36000\r\n30,Data scientist,Full Time,Mid,Gothenburg,USD,40000\r\n31,Data scientist,Internship,Entry,Mountain View,USD,56000\r\n32,Data scientist,Full Time,Executive,San Francisco,USD,130000\r\n34,Data scientist,Full Time,Senior,San Jose,USD,68000\r\n35,Data scientist,Full Time,Senior,Porto,USD,56000\r\n36,Data scientist,Internship,Entry,Mountain View,USD,56000\r\n37,Data scientist,Full Time,Senior,Ontario,USD,68000\r\n38,Data scientist,Full Time,Senior,Brooklyn,USD,104000\r\n40,Data scientist,Full Time,Mid,Sydney,USD,62000\r\n41,Data scientist,Full Time,Senior,Remote- US,USD,150000\r\n42,Data scientist,Full Time,Senior,Cambridge,USD,68000\r\n44,Data scientist,Full Time,Mid,La Libertad,USD,40000\r\n45,Data scientist,Full Time,Senior,San Francisco,USD,161000\r\n47,Data scientist,Full Time,Senior,London,USD,68000\r\n48,Data scientist,Full Time,Senior,Lithuania | UK,USD,68000\r\n50,Data scientist,Full Time,Senior,Chicago,USD,68000\r\n51,Data scientist,Full Time,Senior,Remote,USD,68000\r\n52,Data scientist,Full Time,Senior,Remote- US,USD,150000\r\n53,Data scientist,Full Time,Mid,United Kingdom - Remote,USD,40000\r\n55,Data scientist,Full Time,Senior,Santiago,USD,68000\r\n57,Data scientist,Full Time,Senior,Nairobi,USD,68000\r\n60,Data scientist,Full Time,Mid,Luxembourg,USD,40000\r\n61,Data scientist,Full Time,Senior,San Francisco OR Remote US Canada,USD,68000\r\n62,Data scientist,Full Time,Senior,Paris,USD,68000\r\n63,Data scientist,Full Time,Mid,Lyon,USD,40000\r\n64,Data scientist,Full Time,Senior,Montreal,USD,56000\r\n65,Data scientist,Full Time,Senior,Remote,USD,68000\r\n66,Data scientist,Full Time,Entry,Princeton,USD,74000\r\n67,Data scientist,Full Time,Mid,California,USD,40000\r\n68,Data scientist,Full Time,Senior,Athens,USD,68000\r\n69,Data scientist,Internship,Senior,London,USD,56000\r\n70,Data scientist,Full Time,Entry,Charenton-Le-Pont,USD,36000\r\n72,Data scientist,Full Time,Senior,San Francisco,USD,68000\r\n73,Data scientist,Full Time,Senior,Aberdeen,USD,68000\r\n75,Data scientist,Full Time,Mid,Brampton,USD,40000\r\n78,Data scientist,Full Time,Senior,Salt Lake City,USD,68000\r\n79,Data scientist,Full Time,Mid,Munich,USD,40000\r\n80,Data scientist,Full Time,Mid,Oslo,USD,40000\r\n81,Data scientist,Full Time,Senior,Basel,USD,68000\r\n82,Data scientist,Full Time,Mid,D\xc3\xbcsseldorf,USD,40000\r\n83,Data scientist,Full Time,Entry,Paris,USD,36000\r\n84,Data scientist,Full Time,Senior,Madrid,EUR,36000\r\n85,Data scientist,Full Time,Mid,Austin,USD,40000\r\n86,Data scientist,Full Time,Mid,Dallas,USD,40000\r\n88,Data scientist,Full Time,Senior,Warsaw,USD,120000\r\n89,Data scientist,Full Time,Mid,Houston,USD,40000\r\n90,Data scientist,Full Time,Senior,Hyderabad,USD,68000\r\n92,Data scientist,Full Time,Senior,Sofia,USD,68000\r\n93,Data scientist,Full Time,Senior,Boston,USD,110000\r\n94,Data scientist,Full Time,Senior,Paris,USD,68000\r\n95,Data scientist,Full Time,Senior,Zurich,USD,68000\r\n96,Data scientist,Full Time,Senior,London,USD,68000\r\n97,Data scientist,Full Time,Senior,London,USD,68000\r\n98,Data scientist,Full Time,Senior,New York City,USD,81000\r\n99,Data scientist,Full Time,Entry,Palaiseau,USD,36000\r\n100,Data scientist,Full Time,Entry,Burnaby,USD,36000\r\n102,Data scientist,Full Time,Senior,Lisbon,USD,68000\r\n103,Data scientist,Full Time,Senior,Tel Aviv-Yafo,USD,68000\r\n104,Data scientist,Full Time,Mid,United Kingdom - Remote,USD,40000\r\n105,Data scientist,Full Time,Senior,United States,USD,152000\r\n106,Data scientist,Full Time,Mid,Toronto,USD,40000\r\n107,Data scientist,Full Time,Senior,Indianapolis,USD,68000\r\n109,Data scientist,Full Time,Mid,Athens,USD,51000\r\n111,Data scientist,Full Time,Mid,New York City,USD,40000\r\n112,Data scientist,Full Time,Senior,New York,USD,95000\r\n113,Data scientist,Full Time,Senior,London,USD,68000\r\n115,Data scientist,Full Time,Mid,Dayton,USD,40000\r\n116,Data scientist,Full Time,Senior,Seoul,USD,68000\r\n117,Data scientist,Full Time,Entry,Glasgow,USD,36000\r\n118,Data scientist,Full Time,Mid,Emeryville,USD,135000\r\n120,Data scientist,Full Time,Entry,Massy - France,USD,36000\r\n121,Data scientist,Full Time,Senior,San Francisco,USD,68000\r\n123,Data scientist,Full Time,Mid,Paris,EUR,50000\r\n125,Data scientist,Full Time,Senior,Belo Horizonte,USD,68000\r\n127,Data scientist,Full Time,Senior,Oakville,USD,68000\r\n130,Data scientist,Full Time,Senior,Midrand,USD,68000\r\n131,Data scientist,Full Time,Mid,Roppongi,USD,40000\r\n132,Data scientist,Full Time,Senior,Solna,USD,68000\r\n133,Data scientist,Full Time,Senior,Santa Clara,USD,68000\r\n134,Data scientist,Full Time,Mid,Emeryville,USD,120000\r\n137,Data scientist,Full Time,Senior,Boston,USD,68000\r\n139,Data scientist,Full Time,Entry,Calabasas,USD,120000\r\n141,Data scientist,Full Time,Senior,Bangkok,USD,68000\r\n142,Data scientist,Full Time,Senior,London,USD,68000\r\n143,Data scientist,Full Time,Mid,Ahmedabad,USD,40000\r\n144,Data scientist,Full Time,Senior,Lisbon,USD,68000\r\n145,Data scientist,Full Time,Entry,Roppongi,USD,56000\r\n146,Data scientist,Full Time,Senior,Remote,USD,68000\r\n147,Data scientist,Full Time,Senior,Brooklyn,USD,196000\r\n148,Data scientist,Full Time,Senior,Dallas,USD,68000\r\n149,Data scientist,Full Time,Senior,New York City,USD,125000\r\n150,Data scientist,Full Time,Entry,Lisboa,USD,36000\r\n151,Data scientist,Full Time,Senior,Markham,USD,68000\r\n152,Data scientist,Full Time,Senior,Athina,USD,68000\r\n153,Data scientist,Full Time,Mid,London,USD,40000\r\n154,Data scientist,Full Time,Mid,Berlin,USD,40000\r\n155,Data scientist,Full Time,Senior,Chicago,USD,68000\r\n156,Data scientist,Full Time,Entry,Norfolk,USD,36000\r\n157,Data scientist,Full Time,Senior,Boston,USD,68000\r\n158,Data scientist,Full Time,Senior,Remote (DC),USD,68000\r\n159,Data scientist,Full Time,Senior,Bengaluru,USD,68000\r\n160,Data scientist,Full Time,Senior,Tel Aviv-Yafo,USD,68000\r\n161,Data scientist,Full Time,Mid,Houston,USD,40000\r\n162,Data scientist,Full Time,Senior,Seattle,USD,68000\r\n163,Data scientist,Full Time,Senior,Norfolk,USD,68000\r\n164,Data scientist,Full Time,Senior,Belfast,USD,68000\r\n165,Data scientist,Full Time,Senior,Toronto,USD,68000\r\n166,Data scientist,Full Time,Mid,Toronto,USD,40000\r\n167,Data scientist,Full Time,Senior,Remote - United States,USD,68000\r\n168,Data scientist,Full Time,Entry,Toronto,USD,36000\r\n169,Data scientist,Full Time,Senior,Tampa,USD,68000\r\n170,Data scientist,Full Time,Senior,Berlin,USD,68000\r\n171,Data scientist,Full Time,Mid,D\xc3\xbcsseldorf,USD,40000\r\n172,Data scientist,Full Time,Senior,D\xc3\xbcsseldorf,USD,68000\r\n174,Data scientist,Full Time,Entry,Amsterdam,USD,36000\r\n175,Data scientist,Full Time,Senior,Amsterdam,USD,68000\r\n177,Data scientist,Full Time,Mid,Munich,USD,40000\r\n178,Data scientist,Full Time,Mid,Lyon,USD,51000\r\n179,Data scientist,Full Time,Senior,Basel,USD,68000\r\n180,Data scientist,Full Time,Mid,Oslo,USD,40000\r\n181,Data scientist,Full Time,Senior,Longueuil,USD,68000\r\n182,Data scientist,Full Time,Senior,Glattbrugg,USD,56000\r\n183,Data scientist,Full Time,Senior,New York City,USD,70000\r\n184,Data scientist,Full Time,Senior,Atlanta,USD,120000\r\n185,Data scientist,Full Time,Senior,Toronto,USD,68000\r\n186,Data scientist,Full Time,Mid,Barcelona,USD,40000\r\n187,Data scientist,Full Time,Mid,London,USD,51000\r\n188,Data scientist,Full Time,Senior,Madrid,EUR,36000\r\n189,Data scientist,Full Time,Mid,Abu Dhabi,USD,51000\r\n190,Data scientist,Full Time,Mid,Berlin,USD,40000\r\n191,Data scientist,Full Time,Senior,Fort Bragg,USD,68000\r\n192,Data scientist,Full Time,Senior,Remote - US,USD,68000\r\n193,Data scientist,Full Time,Senior,San Francisco,USD,129000\r\n194,Data scientist,Full Time,Mid,Singapore,USD,51000\r\n195,Data scientist,Full Time,Senior,Toronto,USD,68000\r\n197,Data scientist,Full Time,Senior,Berlin,USD,120000\r\n198,Data scientist,Full Time,Mid,London,USD,40000\r\n199,Data scientist,Full Time,Mid,Brampton,USD,40000\r\n200,Data scientist,Full Time,Senior,UK,USD,68000\r\n201,Data scientist,Full Time,Senior,Aarhus,USD,68000\r\n203,Data scientist,Full Time,Senior,Canada,USD,68000\r\n205,Data scientist,Full Time,Mid,Remote,USD,115000\r\n206,Data scientist,Full Time,Senior,Berlin,USD,120000\r\n207,Data scientist,Full Time,Senior,Redwood City,USD,68000\r\n208,Data scientist,Full Time,Senior,Berlin,USD,68000\r\n209,Data scientist,Full Time,Mid,Paris,USD,40000\r\n210,Data scientist,Full Time,Entry,Burnaby,USD,36000\r\n212,Data scientist,Full Time,Senior,Remote - United States,USD,56000\r\n213,Data scientist,Full Time,Senior,Remote - US,USD,68000\r\n215,Data scientist,Full Time,Senior,India,USD,68000\r\n216,Data scientist,Full Time,Senior,Remote,USD,68000\r\n217,Data scientist,Full Time,Senior,Heredia,USD,68000\r\n218,Data scientist,Full Time,Senior,Jealott's Hill,USD,68000\r\n219,Data scientist,Full Time,Mid,Mountain View,USD,90000\r\n220,Data scientist,Full Time,Senior,Miami - will also consider remote in \xe2\x80\xa6,USD,68000\r\n221,Data scientist,Full Time,Senior,Porto,USD,68000\r\n222,Data scientist,Full Time,Senior,Tel Aviv,USD,68000\r\n223,Data scientist,Full Time,Mid,West Jakarta,USD,40000\r\n224,Data scientist,Internship,Entry,Paris,USD,36000\r\n225,Data scientist,Full Time,Entry,Montreal,USD,36000\r\n226,Data scientist,Full Time,Mid,Berlin,EUR,58000\r\n228,Data scientist,Internship,Mid,United States - Remote,USD,62000\r\n231,Data scientist,Full Time,Senior,Toronto,USD,68000\r\n233,Data scientist,Full Time,Senior,Remote,USD,132000\r\n234,Data scientist,Full Time,Entry,North Reading,USD,56000\r\n236,Data scientist,Full Time,Senior,London,USD,68000\r\n237,Data scientist,Full Time,Entry,Sunnyvale,USD,36000\r\n238,Data scientist,Full Time,Senior,London,USD,68000\r\n239,Data scientist,Full Time,Mid,Dallas,USD,40000\r\n240,Data scientist,Full Time,Senior,Boston,USD,68000\r\n241,Data scientist,Full Time,Mid,Suitland-Silver Hill,USD,51000\r\n242,Data scientist,Full Time,Entry,Paris,USD,36000\r\n243,Data scientist,Full Time,Senior,Chicago,USD,68000\r\n244,Data scientist,Full Time,Senior,London,USD,68000\r\n245,Data scientist,Full Time,Senior,Hamburg,USD,68000\r\n246,Data scientist,Full Time,Senior,Remote,USD,68000\r\n247,Data scientist,Full Time,Senior,London,USD,68000\r\n248,Data scientist,Full Time,Mid,Bang Kapi District,USD,40000\r\n249,Data scientist,Full Time,Senior,London,USD,68000\r\n250,Data scientist,Full Time,Senior,Remote job,USD,68000\r\n251,Data scientist,Full Time,Senior,Tel Aviv,USD,68000\r\n252,Data scientist,Full Time,Senior,Remote job,USD,68000\r\n253,Data scientist,Full Time,Senior,Amsterdam,USD,120000\r\n254,Data scientist,Full Time,Mid,K\xc3\xb8benhavn,USD,40000\r\n255,Data scientist,Full Time,Senior,Cincinnati,USD,68000\r\n256,Data scientist,Full Time,Senior,Dallas,USD,68000\r\n257,Data scientist,Full Time,Senior,Singapore,USD,56000\r\n258,Data scientist,Full Time,Senior,Stockholm,USD,68000\r\n259,Data scientist,Full Time,Senior,Longueuil,USD,68000\r\n260,Data scientist,Full Time,Senior,Renningen,USD,56000\r\n261,Data scientist,Full Time,Entry,Paris,USD,36000\r\n262,Data scientist,Full Time,Entry,Paris,USD,36000\r\n263,Data scientist,Full Time,Senior,New York City,USD,120000\r\n264,Data scientist,Full Time,Senior,Berlin,USD,68000\r\n265,Data scientist,Full Time,Senior,Atlanta,USD,68000\r\n266,Data scientist,Full Time,Senior,Bangkok,USD,68000\r\n268,Data scientist,Full Time,Senior,Bangkok,USD,63000\r\n269,Data scientist,Full Time,Senior,USA (remote),USD,68000\r\n270,Data scientist,Full Time,Senior,New York,USD,145000\r\n271,Data scientist,Full Time,Senior,New York City - Boston,USD,68000\r\n272,Data scientist,Full Time,Mid,New York City,USD,40000\r\n273,Data scientist,Full Time,Mid,Bangkok,USD,51000\r\n274,Data scientist,Full Time,Mid,Brampton,USD,40000\r\n275,Data scientist,Full Time,Senior,Seattle,USD,56000\r\n276,Data scientist,Full Time,Mid,Hong Kong,USD,40000\r\n277,Data scientist,Full Time,Senior,San Francisco,USD,129000\r\n279,Data scientist,Full Time,Mid,Emeryville,USD,120000\r\n281,Data scientist,Full Time,Entry,Berlin,USD,36000\r\n282,Data scientist,Full Time,Senior,San Mateo,USD,68000\r\n284,Data scientist,Full Time,Senior,Santa Clara,USD,68000\r\n285,Data scientist,Full Time,Mid,Berlin,USD,40000\r\n286,Data scientist,Full Time,Mid,M\xc3\xa1laga,USD,40000\r\n287,Data scientist,Full Time,Senior,Bangkok,USD,63000\r\n289,Data scientist,Full Time,Senior,Madrid,USD,68000\r\n292,Data scientist,Full Time,Mid,France - Remote,USD,40000\r\n293,Data scientist,Full Time,Senior,Herndon,USD,122000\r\n295,Data scientist,Full Time,Senior,Madrid,EUR,36000\r\n296,Data scientist,Full Time,Mid,Porto,USD,40000\r\n297,Data scientist,Full Time,Senior,Toronto,USD,120000\r\n299,Data scientist,Full Time,Mid,Brussels,USD,40000\r\n300,Data scientist,Full Time,Mid,Spain - Remote,USD,40000\r\n301,Data scientist,Full Time,Senior,Helsinki,USD,68000\r\n302,Data scientist,Full Time,Mid,Fort Belvoir,USD,40000\r\n303,Data scientist,Internship,Senior,San Jose,USD,56000\r\n305,Data scientist,Full Time,Mid,London,USD,40000\r\n307,Data scientist,Full Time,Senior,San Francisco,USD,68000\r\n308,Data scientist,Full Time,Mid,Utrecht,USD,40000\r\n309,Data scientist,Full Time,Mid,Ireland - Remote,USD,40000\r\n310,Data scientist,Full Time,Entry,Sunnyvale,USD,36000\r\n311,Data scientist,Full Time,Mid,Dubai,USD,40000\r\n314,Data scientist,Internship,Senior,Asia,USD,68000\r\n315,Data scientist,Full Time,Senior,Ann Arbor,USD,68000\r\n317,Data scientist,Full Time,Senior,New York City; San Francisco,USD,107000\r\n318,Data scientist,Full Time,Senior,Remote,USD,68000\r\n319,Data scientist,Full Time,Senior,Washington DC - will also consider remote \xe2\x80\xa6,USD,68000\r\n321,Data scientist,Full Time,Senior,Canada,USD,68000\r\n322,Data scientist,Full Time,Senior,Dubai,USD,68000\r\n324,Data scientist,Full Time,Mid,Warsaw,USD,40000\r\n325,Data scientist,Full Time,Mid,L\xc3\xbcneburg,USD,40000\r\n326,Data scientist,Full Time,Entry,Saint-Denis,USD,36000\r\n327,Data scientist,Full Time,Mid,Cambridge,USD,30000\r\n328,Data scientist,Full Time,Mid,England,USD,40000\r\n329,Data scientist,Full Time,Senior,Bengaluru,USD,68000\r\n331,Data scientist,Full Time,Senior,Baar,USD,68000\r\n332,Data scientist,Full Time,Senior,Indianapolis,USD,68000\r\n333,Data scientist,Full Time,Senior,Ottawa,USD,68000\r\n334,Data scientist,Full Time,Senior,Palo Alto,USD,56000\r\n337,Data scientist,Full Time,Senior,Flexible,USD,68000\r\n338,Data scientist,Full Time,Senior,Santiago de Quer\xc3\xa9taro,USD,68000\r\n339,Data scientist,Full Time,Mid,London,USD,40000\r\n340,Data scientist,Full Time,Entry,Remote,USD,36000\r\n341,Data scientist,Full Time,Senior,New York City,USD,81000\r\n342,Data scientist,Full Time,Senior,Krak\xc3\xb3w,USD,68000\r\n343,Data scientist,Full Time,Mid,United States - Remote,USD,40000\r\n345,Data scientist,Internship,Entry,Paris,USD,36000\r\n347,Data scientist,Full Time,Senior,Montreal,USD,68000\r\n348,Data scientist,Full Time,Mid,Roppongi,USD,62000\r\n349,Data scientist,Full Time,Senior,Valencia,USD,68000\r\n351,Data scientist,Full Time,Senior,Berlin,USD,68000\r\n352,Data scientist,Full Time,Mid,San Diego,USD,40000\r\n353,Data scientist,Full Time,Senior,Berlin,USD,68000\r\n354,Data scientist,Full Time,Senior,Remote,USD,68000\r\n356,Data scientist,Full Time,Mid,Arlington,USD,40000\r\n357,Data scientist,Full Time,Senior,San Francisco,USD,129000\r\n358,Data scientist,Full Time,Senior,Brooklyn,USD,184000\r\n359,Data scientist,Full Time,Mid,Milan,USD,40000\r\n360,Data scientist,Full Time,Mid,Toronto,USD,40000\r\n361,Data scientist,Internship,Mid,Bengaluru,USD,62000\r\n362,Data scientist,Full Time,Senior,Enkhuizen,USD,68000\r\n363,Data scientist,Full Time,Senior,Berlin,USD,68000\r\n364,Data scientist,Full Time,Senior,Barcelona,USD,68000\r\n365,Data scientist,Full Time,Senior,Brooklyn,USD,104000\r\n366,Data scientist,Full Time,Senior,Berlin,USD,68000\r\n367,Data scientist,Full Time,Senior,Madrid,USD,56000\r\n368,Data scientist,Full Time,Entry,Vienna,USD,36000\r\n369,Data scientist,Full Time,Senior,Brooklyn,USD,130000\r\n370,Data scientist,Full Time,Mid,Spain - Remote,USD,40000\r\n371,Data scientist,Full Time,Mid,Dallas,USD,40000\r\n372,Data scientist,Full Time,Senior,Mountain View,USD,68000\r\n373,Data scientist,Full Time,Senior,Seattle,USD,68000\r\n374,Data scientist,Full Time,Mid,Bordeaux,USD,40000\r\n375,Data scientist,Full Time,Senior,Tel Aviv-Yafo,USD,68000\r\n376,Data scientist,Full Time,Mid,Roppongi,USD,62000\r\n377,Data scientist,Full Time,Senior,Warsaw,USD,68000\r\n379,Data scientist,Full Time,Senior,Irving,USD,68000\r\n381,Data scientist,Full Time,Senior,Warsaw,USD,56000\r\n382,Data scientist,Full Time,Mid,Chelmsford,USD,87000\r\n383,Data scientist,Full Time,Mid,Paris,USD,40000\r\n384,Data scientist,Full Time,Senior,Dallas,USD,68000\r\n385,Data scientist,Internship,Senior,Chicago,USD,68000\r\n386,Data scientist,Full Time,Senior,Mountain View,USD,56000\r\n387,Data scientist,Full Time,Senior,Berlin,USD,68000\r\n388,Data scientist,Internship,Senior,United States,USD,68000\r\n389,Data scientist,Full Time,Senior,Palo Alto,USD,68000\r\n391,Data scientist,Full Time,Mid,Malm\xc3\xb6,USD,40000\r\n392,Data scientist,Full Time,Mid,Bengaluru,USD,38000\r\n393,Data scientist,Full Time,Mid,London,USD,38000\r\n394,Data scientist,Full Time,Senior,Hyderabad,USD,68000\r\n395,Data scientist,Full Time,Senior,Bengaluru,USD,68000\r\n397,Data scientist,Full Time,Senior,Berlin,USD,68000\r\n398,Data scientist,Full Time,Senior,San Francisco,USD,68000\r\n401,Data scientist,Full Time,Senior,Cape Town,USD,68000\r\n402,Data scientist,Full Time,Senior,London,USD,68000\r\n405,Data scientist,Full Time,Entry,Belgrade,USD,36000\r\n407,Data scientist,Full Time,Senior,Chantilly,USD,68000\r\n408,Data scientist,Full Time,Senior,Irving,USD,68000\r\n410,Data scientist,Full Time,Senior,Brooklyn,USD,196000\r\n411,Data scientist,Full Time,Mid,M\xc3\xa1laga,USD,38000\r\n412,Data scientist,Full Time,Senior,Brooklyn,USD,184000\r\n413,Data scientist,Full Time,Mid,B\xc3\xbchl,USD,38000\r\n415,Data scientist,Full Time,Senior,Mountain View,USD,68000\r\n416,Data scientist,Full Time,Senior,Remote or San Francisco HQ,USD,196000\r\n417,Data scientist,Full Time,Senior,Oakville,USD,68000\r\n418,Data scientist,Full Time,Senior,Chennai,USD,68000\r\n419,Data scientist,Full Time,Mid,Houston,USD,38000\r\n420,Data scientist,Full Time,Senior,New York City,USD,68000\r\n421,Data scientist,Full Time,Senior,Remote (within United States),USD,68000\r\n422,Data scientist,Full Time,Senior,Los Gatos,USD,56000\r\n423,Data scientist,Full Time,Mid,Houston,USD,38000\r\n424,Data scientist,Full Time,Senior,Boston,USD,127000\r\n425,Data

In [5]:
df = pd.read_csv('datascience_salaries.csv')
df.head()

,Unnamed: 0,job_title,job_type,experience_level,location,salary_currency,salary
0,0,Data scientist,Full Time,Senior,New York City,USD,149000
1,2,Data scientist,Full Time,Senior,Boston,USD,120000
2,3,Data scientist,Full Time,Senior,London,USD,68000
3,4,Data scientist,Full Time,Senior,Boston,USD,120000
4,5,Data scientist,Full Time,Senior,New York City,USD,149000

Min-Max Normalize the Salary Column

In [7]:
scaler = MinMaxScaler()
df['salary_normalized'] = scaler.fit_transform(df[['salary']])
df.head()

,Unnamed: 0,job_title,job_type,experience_level,location,salary_currency,salary,salary_normalized
0,0,Data scientist,Full Time,Senior,New York City,USD,149000,0.601010
1,2,Data scientist,Full Time,Senior,Boston,USD,120000,0.454545
2,3,Data scientist,Full Time,Senior,London,USD,68000,0.191919
3,4,Data scientist,Full Time,Senior,Boston,USD,120000,0.454545
4,5,Data scientist,Full Time,Senior,New York City,USD,149000,0.601010

Dimensionality Reduction with PCA

In [14]:
# Droping non-numeric and identifier columns for PCA
df_numeric = df.select_dtypes(include=[np.number]).drop(columns=['salary'])

# Applying PCA to reduce to 2 components for visualization
pca = PCA(n_components=2)
pca_result = pca.fit_transform(df_numeric)

# Adding PCA results to the dataframe
df['PCA1'] = pca_result[:, 0]
df['PCA2'] = pca_result[:, 1]

df[['PCA1', 'PCA2', 'experience_level']].head()

          PCA1      PCA2 experience_level
0 -1863.241672  0.855106           Senior
1 -1859.241672  0.562166           Senior
2 -1857.241674  0.036908           Senior
3 -1855.241672  0.562155           Senior
4 -1853.241672  0.855079           Senior

Group by Experience Level and Compute Salary Statistics

In [15]:
salary_stats = df.groupby('experience_level')['salary'].agg(['mean', 'median']).reset_index()
salary_stats.columns = ['Experience Level', 'Average Salary', 'Median Salary']
salary_stats

  Experience Level  Average Salary  Median Salary
0            Entry    36111.111111        30000.0
1        Executive    76076.923077        46000.0
2              Mid    51786.885246        51000.0
3           Senior    75088.033012        68000.0