üåü Exercise 1 : Convert lists into dictionaries

Instructions
Convert the two following lists, into dictionaries.
Hint: Use the zip method
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

In [1]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

my_dict = dict(zip(keys, values))
my_dict

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

üåü Exercise 2 : Cinemax #2

Instructions
A movie theater charges different ticket prices depending on a person‚Äôs age.
if a person is under the age of 3, the ticket is free.
if they are between 3 and 12, the ticket is $10.
if they are over the age of 12, the ticket is $15.

Given the following object:

family = {"rick": 43, 'beth': 13, 'morty': 5, 'summer': 8}


How much does each family member have to pay ?

Print out the family‚Äôs total cost for the movies.
Bonus: Ask the user to input the names and ages instead of using the provided family variable (Hint: ask the user for names and ages and add them into a family dictionary that is initially empty).

Task 1:

How much does each family member have to pay ?

Print out the family‚Äôs total cost for the movies

In [4]:
# Family dictionary
family = {"rick": 43, "beth": 13, "morty": 5, "summer": 8}

# Ticket pricing calculation function
def calculate_ticket_price(age):
    if age < 3:
        return 0
    elif 3 <= age <= 12:
        return 10
    else:
        return 15

# Calculating total cost and printing individual costs
total_cost = 0

for name, age in family.items():
    price = calculate_ticket_price(age)
    print(f"{name} has to pay ${price}")
    total_cost += price

print(f"Total cost for the family: ${total_cost}")

rick has to pay $15
beth has to pay $15
morty has to pay $10
summer has to pay $10
Total cost for the family: $50

Bonus

Ask the user to input the names and ages instead of using the provided family variable (Hint: ask the user for names and ages and add them into a family dictionary that is initially empty).

In [6]:
# Creating an empty dictionary for the family
family = {}

# Asking the user how many family members to enter
num_members = int(input("Enter the number of family members: "))

# Getting user input for names and ages
for _ in range(num_members):
    name = input("Enter the name: ").strip()
    age = int(input(f"Enter {name}'s age: "))
    family[name] = age

# Calculating and printing ticket costs
total_cost = 0
for name, age in family.items():
    price = calculate_ticket_price(age)
    print(f"{name} has to pay ${price}")
    total_cost += price

print(f"Total cost for the family: ${total_cost}")

Enter the number of family members: 4
Enter the name: Anthony
Enter Anthony's age: 3
Enter the name: Meadow
Enter Meadow's age: 11
Enter the name: Jackie
Enter Jackie's age: 13
Enter the name: Tony
Enter Tony's age: 50
Anthony has to pay $10
Meadow has to pay $10
Jackie has to pay $15
Tony has to pay $15
Total cost for the family: $50

üåü Exercise 3: Zara

Instructions
Here is some information about a brand.
name: Zara
creation_date: 1975
creator_name: Amancio Ortega Gaona
type_of_clothes: men, women, children, home
international_competitors: Gap, H&M, Benetton
number_stores: 7000
major_color:
    France: blue,
    Spain: red,
    US: pink, green


2. Create a dictionary called brand which value is the information from part one (turn the info into keys and values).
The values type_of_clothes and international_competitors should be a list. The value of major_color should be a dictionary.
3. Change the number of stores to 2.
4. Use the key [type_of_clothes] to print a sentence that explains who Zaras clients are.
5. Add a key called country_creation with a value of Spain.
6. Check if the key international_competitors is in the dictionary. If it is, add the store Desigual.
7. Delete the information about the date of creation.
8. Print the last international competitor.
9. Print the major clothes colors in the US.
10. Print the amount of key value pairs (ie. length of the dictionary).
11. Print the keys of the dictionary.
12. Create another dictionary called more_on_zara with the following details:

creation_date: 1975
number_stores: 10 000


13. Use a method to add the information from the dictionary more_on_zara to the dictionary brand.
14. Print the value of the key number_stores. What just happened ?

Task 1:

Create a dictionary called brand which value is the information from part one (turn the info into keys and values).
The values type_of_clothes and international_competitors should be a list. The value of major_color should be a dictionary.

In [8]:
# Creating the brand dictionary
brand = {
    "name": "Zara",
    "creation_date": 1975,
    "creator_name": "Amancio Ortega Gaona",
    "type_of_clothes": ["men", "women", "children", "home"],
    "international_competitors": ["Gap", "H&M", "Benetton"],
    "number_stores": 7000,
    "major_color": {
        "France": "blue",
        "Spain": "red",
        "US": ["pink", "green"]
    }
}

Task 2:

Change the number of stores to 2.

In [9]:
# Changing number of stores to 2
brand["number_stores"] = 2

Task 3:

Use the key [type_of_clothes] to print a sentence that explains who Zaras clients are.

In [10]:
# Printing who Zara's clients are
print(f"Zara's clients are {', '.join(brand['type_of_clothes'])}.")

Zara's clients are men, women, children, home.

Task 4:

Add a key called country_creation with a value of Spain

In [11]:
# Adding country_creation key
brand["country_creation"] = "Spain"

Task 5:

Check if the key international_competitors is in the dictionary. If it is, add the store Desigual.

In [12]:
if "international_competitors" in brand:
    brand["international_competitors"].append("Desigual")

Task 6:

Delete the information about the date of creation

In [13]:
# Deleting 'creation_date'
del brand["creation_date"]

Task 7:

Print the last international competitor.

In [14]:
# Printing the last international competitor
print(f"Last international competitor: {brand['international_competitors'][-1]}")

Last international competitor: Desigual

Task 8:

Print the major clothes colors in the US.

In [15]:
# Printing major clothing colors in the US
print(f"Major colors in the US: {', '.join(brand['major_color']['US'])}")

Major colors in the US: pink, green

Task 9:

Print the amount of key value pairs (ie. length of the dictionary).

In [16]:
# Printing the number of key-value pairs
print(f"Number of key-value pairs: {len(brand)}")

Number of key-value pairs: 7

Task 10:

Print the keys of the dictionary.

In [17]:
# Printing the keys of the dictionary
print(f"Keys in the dictionary: {list(brand.keys())}")

Keys in the dictionary: ['name', 'creator_name', 'type_of_clothes', 'international_competitors', 'number_stores', 'major_color', 'country_creation']

Task 11:

Create another dictionary called more_on_zara with the following details:

creation_date: 1975
number_stores: 10 000

In [18]:
# Creating the more_on_zara dictionary
more_on_zara = {
    "creation_date": 1975,
    "number_stores": 10000
}

Task 12:

 Use a method to add the information from the dictionary more_on_zara to the dictionary brand.

In [19]:
# Adding more_on_zara dictionary into brand dictionary
brand.update(more_on_zara)

Task 13:

Print the value of the key number_stores. What just happened ?

In [20]:
# Printing updated number_stores
print(f"Updated number of stores: {brand['number_stores']}")

# The `update()` method overwrites existing values in the dictionary.
# "number_stores" was previously set to 2, it now changes to 10,000.

Updated number of stores: 10000

Exercise 4 : Disney characters
Instructions
Use this list :

users = ["Mickey","Minnie","Donald","Ariel","Pluto"]
Analyse these results :

#1/

>>> print(disney_users_A)
{"Mickey": 0, "Minnie": 1, "Donald": 2, "Ariel": 3, "Pluto": 4}

#2/

>>> print(disney_users_B)
{0: "Mickey",1: "Minnie", 2: "Donald", 3: "Ariel", 4: "Pluto"}

#3/

>>> print(disney_users_C)
{"Ariel": 0, "Donald": 1, "Mickey": 2, "Minnie": 3, "Pluto": 4}


Use a for loop to recreate the 1st result. Tip : don‚Äôt hardcode the numbers.
Use a for loop to recreate the 2nd result. Tip : don‚Äôt hardcode the numbers.
Use a method to recreate the 3rd result. Hint: The 3rd result is sorted alphabetically.
Only recreate the 1st result for:
The characters, which names contain the letter ‚Äúi‚Äù.
The characters, which names start with the letter ‚Äúm‚Äù or ‚Äúp‚Äù.

Task 1:

Use a for loop to recreate the 1st result. Tip : don‚Äôt hardcode the numbers.

In [21]:
users = ["Mickey","Minnie","Donald","Ariel","Pluto"]

# 1st result
disney_users_A = {}
for index, user in enumerate(users):
    disney_users_A[user] = index
print(disney_users_A)

{'Mickey': 0, 'Minnie': 1, 'Donald': 2, 'Ariel': 3, 'Pluto': 4}

Task 2:

Use a for loop to recreate the 2nd result. Tip : don‚Äôt hardcode the numbers.

In [22]:
# 2nd result
disney_users_B = {}
for index, user in enumerate(users):
    disney_users_B[index] = user
print(disney_users_B)

{0: 'Mickey', 1: 'Minnie', 2: 'Donald', 3: 'Ariel', 4: 'Pluto'}

Task 3: Use a method to recreate the 3rd result. Hint: The 3rd result is sorted alphabetically

In [24]:
# 3rd result
sorted_users = sorted(users)
disney_users_C = {user: index for index, user in enumerate(sorted_users)}
print(disney_users_C)

{'Ariel': 0, 'Donald': 1, 'Mickey': 2, 'Minnie': 3, 'Pluto': 4}

Task 4:

Only recreate the 1st result for:
The characters, which names contain the letter ‚Äúi‚Äù.
The characters, which names start with the letter ‚Äúm‚Äù or ‚Äúp‚Äù.

In [26]:
# only characters with "i" in their name
disney_users_i = {user: index for index, user in enumerate(users) if "i" in user.lower()}
print(disney_users_i)

{'Mickey': 0, 'Minnie': 1, 'Ariel': 3}

In [27]:
# only characters which names start with "m" or "p"
disney_users_mp = {user: index for index, user in enumerate(users) if user[0].lower() in ["m", "p"]}
print(disney_users_mp)

{'Mickey': 0, 'Minnie': 1, 'Pluto': 4}